.card {
  background-color: var(--color-card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card-analyzing {
  background-color: var(--color-card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputs input {
  padding: 8px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}

.results {
  margin-top: 20px;
  background: var(--color-primary-light);
  padding: 16px;
  border-radius: var(--radius);
}

.dates {
  width: 300px;
}

.notselected {
  background-color: #9a9a9a;
  cursor: default;
}

.notselected:hover {
  background-color: #9a9a9a;
}

.date-error {
  font-size: 0.9em;
  color: rgb(228, 0, 0);
}

.line {
  background-color: #9a9a9a;
  width: 100%;
  height: 1px;
}

.line-vertical {
  background-color: #9a9a9a;
  width: 0.5px;
  height: 370px;
}

.buttons {
  display: flex;
  gap: 1em;
}

.back {
  background-color: transparent;
  color: var(--color-primary);
  background: border-box;
  border: 2px solid;
}

.back:hover {
  border: 2px solid;
  color: #f5f5f5;
}